!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/zepto.js')
		script(type='text/javascript)
			$(document).ready(function(){
				reorder();	
				$(document).on({
					click: function(e) { 
						$.ajax({ type: 'POST', url: e.target.href, data: { name: $('#name').get(0).value || 'Unknown' }, dataType: 'json', 
							success: function (r){ $("#"+r.item).data('votes', r.votes); reorder(); }, 
							error: function(xhr, type) { console.log("An error occurred while doing the AJAX request!"); } });
						return false;
					},
				}, 'a.vote');
			});
			
			// TODO implement in a better way
			function reorder() {
				var li = new Array();
				$('#items').children('li').each(function(e){ li.push($('#items').children('li').get(e)); });
				li.sort(function(a, b){ return $(b).data('votes') - $(a).data('votes'); });
				$('#items').append(li);
			}
	body!= body
	input#name(type="text",name="name")