!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/zepto.js')
		script(type='text/javascript)
			$(document).ready(function(){
				reorder();	
				$(document).on({
					click: function(e) { 
						// TODO allow for name specification via form
						$.post(e.target.href, { name: 'Marko Locher' }, function(res){
							r = JSON.parse(res);
							console.log(r);
							$("li#"+r._id).data('votes', r.votes);
							reorder();
						});
						return false;
					},
				}, 'a.vote');
			});
			
			// TODO implement in a better way
			function reorder() {
				var li = new Array();
				$('#items').children('li').each(function(e){
					li.push($('#items').children('li').get(e));
				});
				li.sort(function(a, b){
					return $(b).data('votes') - $(a).data('votes');
				});
				$('#items').append(li);
			}
	body!= body
