!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/zepto.js')
		script(src='/faye.js')
		script(type='text/javascript)
			$(document).ready(function(){
				// faye
				var fayeClient = new Faye.Client('http://localhost:3000/faye', { timeout: 10 });
				fayeClient.subscribe('/votes', function(r) {
					$("#"+r.item).size() > 0 ? update(r) : append(r); document.vote.item.value = "";
				});
			
				reorder();	
				$(document).on({
					click: function(e) { 
						$.ajax({ type: 'POST', url: e.target.href, data: { name: $('#name').get(0).value || 'Unknown' }, dataType: 'json', error: error });
						return false;
					},
				}, 'a.vote');
				$('form#vote').on({
					submit: function(e) {
						$.ajax({ type: 'POST', url: '/vote/' + document.vote.item.value, data: { name: $('#name').get(0).value || 'Unknown' }, dataType: 'json', error: error });
						return false;
					}
				});
			});
			
			// TODO implement in a better way
			function reorder() {
				var li = new Array();
				$('#items').children('li').each(function(e){ li.push($('#items').children('li').get(e)); });
				li.sort(function(a, b){ return $(b).data('votes') - $(a).data('votes'); });
				$('#items').append(li);
			}
			
			function update(r) { $("#"+r.item).data('votes', r.votes); reorder();  }
			function append(r) { $('#items').append("<li id='"+ r.item + "' data-votes='"+ r.votes +"'><a href='/vote/"+ r.item + "' class='vote'>"+ r.item + "</a></li>"); reorder(); }
			function error(xhr, type) { console.log("An error occurred while doing the AJAX request!"); }
	body
		div#container!= body

	