!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/zepto.js')
		script(type='text/javascript)
			$(document).ready(function(){
				reorder();	
				$(document).on({
					click: function(e) { 
						// TODO allow for name specification via form
						$.post(e.target.href, { name: 'Marko Locher' }, function(res){
							r = JSON.parse(res);
							//$("li#"+r._id)[0].setAttribute('data-votes', r.votes);
							$($("li#"+r._id).get(0)).data('votes', r.votes);
							reorder();
						});
						return false;
					},
				}, 'a.vote');
			});
			
			// TODO implement in a better way
			function reorder() {
				var li = new Array();
				$('#items').children('li').each(function(e){
					li.push($($('#items').children('li').get(e)));
				});
				li.sort(function(a, b){
					return $(b).data('votes') - $(a).data('votes');
				});
				for(var i = 1; i < li.length; i++){
					$($('#items').get(0)).append(li[i]);
				}
				console.log(li[0].data('votes'));
			}
	body!= body
