h1 Vote
p Please vote

form(action="/vote/f206316b7673c2ef6616f633230008f2", method="post")
	input(type="text", value="f206316b7673c2ef6616f633230008f2", name="id")
	input(type="text", name="name")
	input(type="submit")
