body {
	width: 15em;
	margin: 0 auto;
	padding: 2em;
	font: 18pt Georgia, Times, serif;
}
p {
	margin: 0;
	line-height: 1.4em;
	font-size: .8em;
}

h1 {
	font-size: 2.5em;
	margin: .6em 0 0 0;
}
h2 {
	font-size: .9em;
	margin: 0 0 2.4em 0;
	color: grey;
}

ol {
	margin: 2em 0;
}

li {
	margin-bottom: .3em;
}

li::after {
	content: attr(data-votes);
	font-size: .6em;
	color: grey;
	padding-left: .6em;
	
}

.number {
}

input[type=text] {
	margin: .3em;
	padding: 2pt .3em 0 .3em;
	font: 1em Georgia, Times, serif;
	border: 1pt dashed grey;
	border-width: 0 0 1pt 0;
	border-radius: .3em .3em 0 0;
	-moz-border-radius: .3em .3em 0 0;
	-webkit-border-radius: .3em .3em 0 0;
	
}
input[type=text]#name {
	margin-right: 0;
}

:link, :visited {
	text-decoration: none;
	color: black;
	padding: 5pt;
}

:link:hover, :visited:hover, :link:focus, :visited:focus {
	background: rgb(250, 250, 200);
	padding: 4pt;
	border: 1pt solid rgb(250, 250, 200);
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
}
